@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #00000;
  font-family: 'Roboto'
}

.header a{
  text-decoration: none;
  color: white;
}

.header{
  display: flex; /* header div를 수평에 둠 */
  justify-content: space-between;
  align-items: center; /* header div 수직 중앙 맞춤 */
  height: 60px;
  padding: 0px 20px;
  background: #045D8B
}

.header_togglebutton{
  display: block;
}

.header_logo_text{
  font-size: 14px;
}

.header_login_text{
  font-size: 14px;
}

.board_list a{
  text-decoration: none;
  color: black;
}

.board_list{
  display: none;
  flex-direction: column;
  align-items: left;
  background: #CFDAFF;
  position: absolute;
  width: 178px;
  height: 564px;
  left: -1px;
  top: 60px;
  margin: 0;
  font-size: 14px;
}

.board_list li{
  list-style: none;
  width: auto;
  text-align: center;
  padding: 20px 0px;
}

.board_list li:after {
  content: "";
  position: relative;
  display: block;
  width: 104px;
  bottom: -20px;
  border-bottom: 1.3px solid #045D8B;
  margin: 0px auto;
}

.board_list li:hover{
  background-color: #a7b4e0;
  /* border-radius: 4px; */
}

.board_list.active{
  display: flex;
}
